@import "layout.scss";
@import "normalize.scss";
@import "slick.scss";

body{

}

/* Layout */
.ba-container{
	padding-left: 20px;
	padding-right: 20px;
	max-width: 1200px;
}



/* Typography */
h1, h2, h3, h4, h5, h6 {
	margin: 0 0 10px 0;
	text-transform: uppercase;
}
a {
	color: currentColor;
}
a,
input[type="submit"],
input[type="button"],
button{
	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}
input[type="submit"],
input[type="button"],
button,
.ba-button{
	display: inline-block;
}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover{

}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {

	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {

}
textarea {

}

@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
@font-face {
	font-family: trump;
	src: url(../fonts/trump_gothic_east_bold-webfont.woff2) format('woff2'),
		 url('../fonts/trump_gothic_east_bold-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}


img{
	max-width: 100%;
	height: auto;
}
body {
	font: 400 16px/1.3 'Lato', Arial, sans-serif;
}
.ba-read-more {
	letter-spacing: 0.2em;
	font-size: 12px;
	text-transform: uppercase;
	color: #c74c4c !important;
	&:hover {
		font-weight: bold;
		text-decoration: none;
	}
}

.ba-slider-wrapper {
	padding: 50px 5px;
	width: 100%;
	max-width: 1080px;
	min-width: 280px;
	margin-left: auto;
	margin-right: auto;
	background: #fff;
}
.ba-slider {

	position: relative;
	box-shadow: 0px 0px 15px 0px #ccc,
	0px 70px 110px -80px #777;
	&__item {
		display: flex !important;
		border: 20px solid #fff;
		background-size: contain;
		background-repeat: no-repeat;
	}
	&__img {
		flex-basis: 65%;
		img {
			width: 100%;
		}
	}
	&__content {
		position: relative;
		flex-basis: 35%;
		padding: 20px;
	}
	&__content-stars {
		text-align: center;
		img {
			display: inline-block;
		}
		padding: 10px 0;
		margin: 0;
	}
	&__content-title {
		position: absolute;
		left: -50px;
		max-width: 80%;
		padding: 10px ;
		font-family: trump, Arial, sans-serif;
		font-size: 102px;
		line-height: 1;
		text-transform: uppercase;
		color: #E64B4B;
		transition: font-size .3s;
	}
	&__content-desc {
		color: #999;
		line-height: 1.6em;
		position: absolute;
		bottom: 0;
		padding-bottom: 20px;
	}
}

.current-slide {
	position: absolute;
	right: 20px;
	bottom: 10px;
	font-weight: bold;
}
@media (max-width: 992px) {
	.ba-slider {
		&__content-title {
			font-size: 80px;
		}
	}
}
@media (max-width: 768px) {
	.ba-slider {
		text-align: center;
		&__item{
			padding-right: 0;
			display: block;
			flex-wrap: wrap;
		}
		&__img {
			flex-basis: 100%;
		}
		&__content {
			flex-basis: 100%;
			padding-left: 0;
		}
		&__content-stars {
			padding: 10px 0;
		}
		&__content-title {
			max-width: 100%;
			position: static;
			font-size: 40px;
			padding: 10px 0;
			margin-left: 0;
		}
		&__content-desc {
			position: static;
		}
	}
	.current-slide {
		right: 20px;
	}
}

.slick-dots {
	position: absolute;
	list-style-type: none;
	transition: visibility 1s;
	top: 20%;
	right: 20px;
	color: #888;
	li {
		margin-top: 20px;
		a {
			&:hover {
				text-decoration: none;
				color: #000;
				font-weight: bold;
				cursor: pointer;
			}
		}
		button {
			border: none;
			border-radius: 50%;
			background: none;
		}
	}
}
.slick-active {
	a {
		color: #000;
		font-weight: bold;
	}
}

